{% load static %}

<div id="navbarWrapper" class="d-none d-md-block">
  <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="{% url 'index' %}">
        <!--ENTER YOUR LOGO HERE (DESKTOP NAVBAR)-->
        <i style="color:#44b78b;" class="fas fa-brain fa-2x"></i>
      </a>
    <div id="navbarLinks">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" id="sidebarHome">Homepage</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div id="navbar_mobile" class="d-md-none">
  <div id="navbarInner">
    <div class="text-center" id="navbarLogo_DIV">
      <!--ENTER YOUR LOGO HERE (MOBILE NAVBAR)-->
      <a class="navbar-brand" href="{% url 'index' %}">
        <i style="color:#44b78b; font-size:32px;" class="fas fa-brain"></i>
      </a>
    </div>
    <div id="navbarTrigger_DIV">
      <i style="color:#44b78b;" id="navbarTrigger" class="fas fa-bars fa-2x"></i>
    </div>
  </div>
</div>

<div id="sidebarWrapper">
</div>


<div id="sidebar">
  <div id="sidebarInner">
    <div style="height:100%; max-width:100%;" class="row mx-auto">
      <div style="" class="col-12 my-auto text-center">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <h3 id="sidebarHomeMobile">Homepage</h3>
            </a>
        </ul>
      </div>

      <div class="col-12 my-auto text-center">
        <i style="color:#44b78b;" id="closeSidebar" class="fas fa-times fa-2x"></i>
      </div>

    </div>
  </div>
</div>

<div id="pageUp">
  <img style="height:38px;" src="{% static 'ddp_app/navigation/up.png' %}" alt="">
</div>
